.ClearButton {
    padding: 0.5em 1em 0.5em 1em;
    border-radius: 10px;
    border: 1px solid var(--color-ultraviolet);
    font-size: 1rem;
    cursor: pointer;
    color: var(--color-ultraviolet);
}
    .ClearButton:hover {
        background-color: var(--color-blue);
    }