.ClearButton {
    width: 90%;
    padding: 0.5em 1em 0.5em 1em;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid var(--color-violet);
    cursor: pointer;
    color: var(--color-ultraviolet);
    text-align: center;
}
    .ClearButton:hover {
        color: var(--color-theme2);
        transition: all 0.5s;
    }