.main {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-bottom: 4em;
}
.IntroContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2em 3em;
  padding: 1em 0 1em 0;
  margin-bottom: 5em;
  border-bottom: 5px solid var(--color-violet);
  background-color: var(--color-grey);
}
.MeImageContainer {
  position: relative;
  top: 100px;
}
.MeDescriptionContainer {
  position: relative;
  top: 80px;
}
  .MeDescriptionContainer > h1, .MeDescriptionContainer > h2 {
    color: var(--color-violet);
    font-size: var(--fontsize-large);
  }
  .MeDescriptionContainer > h2 > span {
    color: var(--color-blue);
    font-size: var(--fontsize-xlarge);
    font-weight: 700;
  }
.ContentParent {
  width: clamp(100px, 100%, 850px);
  margin: 0 auto 0 auto;
}
  .SectionHeader {
    padding: 2em 0 0.5em 0.5em;
    color: var(--color-ultraviolet);
    font-weight: 700;
    font-size: var(--fontsize-xlarge);
  }
.AboutContainer {
  padding: 0.5em;
  padding-top: 0;
}
.TextContainer {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 50%;
  margin-top: 1em;
  padding: 0.5em;
  box-sizing: border-box;
}
  .TextContainer > h2 {
    color: var(--color-violet);
    font-size: var(--fontsize-large);
  }

@media only screen and (max-width:600px) {
  .IntroContainer {
    margin-bottom: 0;
  }
  .MeDescriptionContainer {
    top: 0;
  }
  .MeImageContainer {
    display: flex;
    justify-content: center;
    top: 0;
    margin-top: 1em;
  }
  .MeImageContainer > img {
    width: 60%;
  }
  .TextContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}