.ProjectsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2em 4em;
    padding: 3em 1em 1em 1em;
    margin-bottom: 4em;
    overflow: hidden;
  }
    .Project {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1em;
      min-height: 120px;
      min-width: 100px;
      max-width: 250px;
      padding-bottom: 1em;
      background-color: var(--color-grey);
      border-radius: 6px;
      box-shadow: 0.5em 0.5em 0.5em var(--color-violet);
    }
      .Project > h1 {
        font-size: var(--fontsize-large);
        color: var(--color-ultraviolet);
        font-weight: 700;
      }
      .Project > h2 {
        font-size: var(--fontsize-med);
        color: var(--color-ultraviolet);
        padding: 0.6em;
      }
      .Project > a {
        margin-top: auto;
      }
.FullProjectContainer {
  display: flex;
  flex-direction: column;
  width: clamp(100px, 100%, 700px);
  padding: 1em;
}
  .FullProjectContainer > h1 {
    font-size: var(--fontsize-xlarge);
    color: var(--color-ultraviolet);
    padding-bottom: 1em;
    font-weight: 700;
  }
  .FullProjectContainer > h2 {
    font-size: var(--fontsize-large);
    color: var(--color-black);
    margin-top: 1em;
  }
  .FullProjectContainer > h3 {
    font-size: var(--fontsize-small);
    color: var(--color-darkgrey);
    margin-bottom: 0.5em;
  }
  .FullProjectContainer > p {
    color: var(--color-darkgrey);
    line-height: 1.8;
    font-weight: 100;
  }
  .FullProjectContainer > a {
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin-top: 1em;
    font-weight: 700;
  }
  .FullProjectContainer > img {
    padding: 1em;
    margin: 1em 0 2em 0;
    border-radius: 10px;
  }
  .FullProjectContainer > iframe {
    width: 100%;
    height: 300px;
  }
  .FullProjectContainer > hr {
    width: 100%;
    margin: 2em 0 1em 0;
    color: var(--color-grey);
  }
  .FullProjectContainer > button {
    align-self: center;
  }
.StackContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.6em;
  padding: 1em 0 1em 0;
}
  .StackContainer > h1 {
    color: white;
    padding: 0.2em 0.5em 0.2em 0.5em;
    border-radius: 2px;
  }
    .StackContainer > h1:nth-child(n) {
      background-color: #88bee0;
    }
    .StackContainer > h1:nth-child(2n) {
      background-color: rgb(77, 124, 225);
    }
    .StackContainer > h1:nth-child(3n) {
      background-color: rgb(36, 77, 202);
    }
    .StackContainer > h1:nth-child(4n) {
      background-color: rgb(54, 186, 238);
    }
.DeploymentsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.6em;
  padding: 1em 0 1em 0;
}
  .DeploymentsContainer > h1 {
    color: white;
    padding: 0.2em 0.5em 0.2em 0.5em;
    border-radius: 2px;
  }
    .DeploymentsContainer > h1:nth-child(n) {
      background-color: var(--color-ultraviolet);
    }
    .DeploymentsContainer > h1:nth-child(2n) {
      background-color: rgb(70, 80, 99);
    }
.ScreenshotsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2em 1em;
  padding: 2em 0 2em 0;
  margin: 1em 0 1em 0;
  border-radius: 10px;
  background-color: var(--color-grey);
}

@media only screen and (max-width:600px) {
  .ProjectsContainer {
    padding: 3em 0.5em 1em 0.5em;
    gap: 2em 1em;
  }
  .Project {
    max-width: 170px;
  }
    .Project > h1 {
      font-size: var(--fontsize-med);
    }
    .Project > h2 {
      font-size: var(--fontsize-small);
    }
}