.ProjectsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 4em 1em;
    padding: 1em;
    padding-top: 3em;
  }
    .Project {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1em;
      min-height: 120px;
      min-width: 100px;
      max-width: 250px;
      padding-bottom: 1em;
      background-color: var(--color-grey);
      border-radius: 6px;
      box-shadow: 0.5em 0.5em 0.5em var(--color-violet);
    }
      .Project > h1 {
        font-size: var(--fontsize-large);
        color: var(--color-ultraviolet);
        font-weight: 700;
      }
      .Project > h2 {
        font-size: var(--fontsize-med);
        color: var(--color-ultraviolet);
        padding: 0.6em;
      }