.GameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.GameItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 2em 1em 2em;
}
  .GameItem > h1 {
    padding: 1em;
    color: var(--color-grey);
    font-size: var(--fontsize-large);
    font-weight: 700;
  }
.NavUI {
  position: relative;
  bottom: 10em;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
  .NavUI > h1 {
    padding: 0.5em;
    border-radius: 50%;
    background-color: white;
  }